{
  "printWidth": 80,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false,
  "importOrder": ["^react$", "^@?\\w", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
